aiohttp==3.6.2
aiohttp-sendgrid==0.0.4
appdirs==1.4.4
asgiref==3.2.7
astroid==2.3.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
automium==0.2.6
automium-web==0.1.1
autopep8==1.5.2
beautifulsoup4==4.9.0
blinker==1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
clarifai==2.6.2
click==7.1.1
colorama==0.4.3
configparser==5.0.0
connectors==4.0
cryptography==2.9
decorator==4.4.2
distlib==0.3.0
Django==3.0.7
EasyProcess==0.2.10
emoji==0.5.4
filelock==3.0.12
Flask==1.1.2
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
googleapis-common-protos==1.51.0
grpcio==1.28.1
idna==2.9
instapy==0.6.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==2.6.0
keyring==21.2.0
lazy-object-proxy==1.4.3
legacy==0.1.6
MarkupSafe==1.1.1
mccabe==0.6.1
MeaningCloud-python==1.2.2
more-itertools==8.2.0
multidict==4.7.5
mypy==0.770
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysqlclient==1.4.6
packaging==20.3
Pillow==7.1.2
pluggy==0.13.1
plyer==1.4.3
protobuf==3.11.3
py==1.8.1
pycodestyle==2.5.0
pycparser==2.20
pylint==2.4.4
pymys==0.2
PyMySQL==0.9.3
PyMysqlDB==0.0.2
pyparsing==2.4.7
pytest==5.4.1
python-http-client==3.2.7
python-telegram-bot==12.6.1
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.4
regex==2020.4.4
requests==2.23.0
selenium==3.141.0
sendgrid==6.2.2
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tornado==6.0.4
tqdm==4.45.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
views==0.3
virtualenv==20.0.20
wcwidth==0.1.9
webdriverdownloader==1.1.0.3
Werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.3.1
yagmail==0.11.224
yarl==1.4.2
